<% include partials/head %>
<div class="col-12" style="top: 15px;">
    <div class="container">
    <h1 class="display-3">Downloads</h1>
    <div>草草草草草草草草草草</div>
    <div><a class="btn btn-secondary" href="/mock.json" download="/mock.json">下载 mock.json</a> </div>
    </div>
</div>
<% include partials/foot %>