<% include partials/head %>
  <div class="col-12" style="top: 15px;">
  <div class="jumbotron">
    <h1>欢迎来到股票信息系统</h1>
    <p>这里是一段网页描述</p>
    <p>
      <a class="btn btn-primary" href="/login">登陆后查看更多信息</a>
    </p>
  </div>
      </div>
<% include partials/foot %>
