<% include partials/head %>
  <div class="container"  style="margin-top: 15px;">
  <div class="row">
<!--    <div class="rol-12">-->
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <div class="input-group mr-2">
        <input type="text" class="form-control" placeholder="请输入股票名称或代码">
      </div>
      <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" onclick="alert('名称')">名称查询</button>
        <button type="button" class="btn btn-primary" onclick="alert('代码')">代码查询</button>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">股票代码</th>
        <th scope="col">股票名称</th>
        <th scope="col">当前股价</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
<!--  </div>-->
  </div>
  </div>
<% include partials/foot %>